@use "./index.scss" as vars;

header {
  height: 50px;
  place-content: center;
  border-bottom: 2px solid vars.$ft-color;
  nav {
    .links {
      display: flex;
      gap: 1em;
      flex-flow: row;
    }
    .logo {
      position: absolute;
      left: 50%;
    }
    display: flex;
    flex-flow: row;
    padding: 0 2.5em;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 0.9em;
      color: vars.$ft-color;
      font-weight: map-get(vars.$ft, black);
      &:hover {
        transform: scale(1.1);
      }
      svg {
        height: 55px;
        width: 45px;
      }
    }
  }
}
