@use "./index.scss" as vars;

main {
  .Swip {
    &__swiper {
      padding: 0 2em 3em 2em;
    }
    &__slide {
      width: 320px;
    }
    &__card {
      &__img {
        height: 500px;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
