@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IE:wght@100..400&family=Unbounded:wght@200..900&display=swap");

$bs-font: "jost";

$ft: (
  black: 900,
  regular: 400,
  semibold: 600,
  medium: 500,
);

$ft-color: #151515;
$ft-opac: #959595;
$bc-color: #e9e9e9;

@keyframes opac {
  from {
    transform: translateY(10%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

* {
  animation: opac 0.5s ease;
  transition: all 0.3s ease;
  font-family: $bs-font;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bc-color;
}

.paragh {
  color: $ft-color;
  font-size: 3em;
  font-family: $bs-font;
  font-weight: map-get($map: $ft, $key: black);
  padding: 0.35em 0.75em;
}

.notfound {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    color: $ft-color;
    font-size: 3em;
    font-family: $bs-font;
    font-weight: map-get($map: $ft, $key: black);
  }
}

.article {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  p {
    width: 43%;
    text-align: center;
    font-size: 1.3em;
    padding: 1.5em;
    color: $ft-opac;
  }
}
