@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IE:wght@100..400&family=Unbounded:wght@200..900&display=swap");

$bs-font: "Montserrat";

$ft: (
  black: 900,
  regular: 400,
  semibold: 600,
  medium: 500,
);

$ft-color: #fafafa;
$bc-color: #151515;

:root {
}

* {
  transition: all 0.3s ease;
  font-family: $bs-font;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bc-color;
}

.paragh {
  color: $ft-color;
  font-size: 3em;
  font-family: $bs-font;
  font-weight: map-get($map: $ft, $key: black);
  padding: 0.75em;
}
